$colorGray: #dfdfdf; //left side with numbers;
$colorGrayDark: #bbb; // border;
$colorPrimary: #ff5600;
$colorSecondary: skyblue;
$colorWhite: #fff;

$verivoxBoxShadow: rgb(30 41 59 / 15%) 6px 6px 16px -7px;
